<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate Items - Volunteer Network</title>
    <div th:replace="~{header :: imports}"></div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .coming-soon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40vh; /* Adjust as needed to ensure the content is centered */
        }
        .coming-soon {
            font-size: 3em; /* Large font size */
            color: #555; /* Optional: Change the color */
        }
    </style>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div th:replace="~{navigation :: navigation}"></div>

<div class="container coming-soon-container">
    <div class="row">
        <div class="col-md-12">
            <div class="coming-soon">
                Coming Soon
            </div>
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
